<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>
        <%= aluno.nome.toUpperCase() %> - Dashboard
    </title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
    <%- include('../components/header') %>

        <main class="dashboard">
            <h2>Bem-vindo, <%= aluno.nome %>!</h2>
            
            <section class="agendamentos">
                <% if(agendamentos.length > 0){ %>
                    <% for(var i = 0; i < agendamentos.length; i++){ %>
                        <div>
                            <h5>Voce possui um agendamento:</h5>
                            <p>Atividade: <%= agendamentos[i].atividade %></p>
                            <p>Data e Hora: <%= agendamentos[i].data_hora %></p>
                            <p>Duração: <%= agendamentos[i].duracao %> minutos</p></h1>
                            <section>
                                <a href="/auth/deletar?id=<%= agendamentos[i].id %>">Cancelar agendamento</a>
                                <a href="/dashboard/remarcar?id=<%= agendamentos[i].id %>">Remarcar</a>
                            </section>
                        </div>
                        <% } %>
                    <%}else{ %>
                        <p>Você ainda não possui agendamentos.</p>
                        <a href="/agendar">Agendar agora</a>    
                    <%}%>
            </section>


        </main>

        <%- include('../components/footer') %>
</body>

</html>