<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <%- include('../components/header') %>
    <h1>Bem-vindo, <%= aluno.nome.split('')[0].toUpperCase() %></h1>
    <form action="/agendar" method="POST">
        <label>Escolha a aula:</label>
        <select name="aula_id">
            <option value="1">Musculação</option>
            <option value="2">Yoga</option>
            <option value="3">Pilates</option>
        </select>
        <input type="date" name="data" required>
        <button type="submit">Agendar</button>
    </form>
    <a href="/auth/logout">Sair</a>
    <% if(agendamentos.length > 0){ %>
        <% for(var i = 0; i < agendamentos.length; i++){ %>
            <div>
                <h1>Atividade: <%= agendamentos[i].atividade %></h1>
                <h1>Data e Hora: <%= agendamentos[i].data_hora %></h1>
                <h1>Duração<%= agendamentos[i].duracao %></h1></h1>
            </div>
            <% } %>
        <%}else{ %>
            <p>Você ainda não possui agendamentos.</p>
        <%}%>
    <%- include('../components/footer') %>
</body>
</html>