<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon/icon.png" type="image/x-icon" style="width: 100%" />
    <title>
        <%= aluno.nome.toUpperCase() %> - Dashboard de aulas
    </title>
    <link href="css/style.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>
    <%- include('../components/header') %>

        <main class="dashboard">
            <h2>Bem-vindo, <%= aluno.nome %>!</h2>
            
            <section class="agendamentos">
                <% if(agendamentos.length > 0){ %>
                    <% for(var i = 0; i < agendamentos.length; i++){ %>
                        <div>
                            <h5>Voce possui um agendamento:</h5>
                            <p>Atividade: <%= agendamentos[i].atividade %></p>
                            <p><span class="data-hora" data-valor="<%= agendamentos[i].data_hora %>"></span></p>
                            <p>Instrutor: <%= agendamentos[i].nome_instrutor %></p></h1>
                            <p>Duração: <%= agendamentos[i].duracao %> minutos</p></h1>
                            <section>
                                <a href="/auth/deletar?id=<%= agendamentos[i].id %>">Cancelar</a>
                                <a href="/remarcar?id=<%= agendamentos[i].id %>">Remarcar</a>
                            </section>
                        </div>
                        <% } %>
                    <%}else{ %>
                        <div class="sem-agendamentos">
                            <p>Você ainda não possui agendamentos.</p>
                            <a href="/agendar">Agendar agora</a>    
                        </div>
                    <%}%>
            </section>


        </main>

        <%- include('../components/footer') %>
</body>
<script>
    function formatarDataHora(dataHora) {
        const data = new Date(dataHora);
        const opcoesData = { weekday: 'long', day: '2-digit', month: 'short', year: 'numeric' };
        const dataFormatada = data.toLocaleDateString('pt-BR', opcoesData).replace(',', '');
        
        const opcoesHora = { hour: '2-digit', minute: '2-digit', hour12: false };
        const horaFormatada = data.toLocaleTimeString('pt-BR', opcoesHora);

        return `${dataFormatada} ${horaFormatada}h`;
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".data-hora").forEach(element => {
            const dataOriginal = element.getAttribute("data-valor");
            element.textContent = formatarDataHora(dataOriginal);
        });
    });
</script>

</html>