<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="css/style.css" rel="stylesheet">
</head>
<body>
    <%- include('../components/header') %>
    <h1>Bem-vindo, <%= aluno.nome.split('')[0].toUpperCase() %></h1>
    <form action="/agendar" method="POST">
        <label>Escolha a atividade:</label>
        <select name="atividade" required>
            <option value="Musculação">Musculação</option>
            <option value="Yoga">Yoga</option>
            <option value="Pilates">Pilates</option>
        </select>
        <input type="datetime" name="data_hora" required>
        <select name="duracao" required>
            <option value="30">30 minutos</option>
            <option value="60">60 minutos</option>
            <option value="90">90 minutos</option>
        </select>
        <select name="nome_instrutor" required>
            <option value="João">João</option>
            <option value="Maria">Maria</option>
            <option value="Ana">Ana</option>
        </select>

        <button type="submit">Agendar</button>
    </form>
    <a href="/auth/logout">Sair</a>
    <% if(agendamentos.length > 0){ %>
        <% for(var i = 0; i < agendamentos.length; i++){ %>
            <div>
                <h1>Atividade: <%= agendamentos[i].atividade %></h1>
                <h1>Data e Hora: <%= agendamentos[i].data_hora %></h1>
                <h1>Duração<%= agendamentos[i].duracao %></h1></h1>
            </div>
            <% } %>
        <%}else{ %>
            <p>Você ainda não possui agendamentos.</p>
        <%}%>
    <%- include('../components/footer') %>
</body>
</html>